/* Generics */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
img {
  max-width: 100%;
}
body {
  font-family: "Open Sans", sans-serif;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.big-container {
  max-width: 1400px;
  margin: 0 auto;
}
.small-container {
  max-width: 1200px;
  margin: 0 auto;
}
.little-section{
  height: 800px;
  padding-top: 90px;
}
.float-left{
  float: left;
}

/* HEADER */
header {
  position: fixed;
  background-attachment: scroll;
  height: 90px;
  line-height: 90px;
  vertical-align: middle;
  width: 100%;
}
.header-left {
  position: absolute;
  left: 0;
  top: 0;
}
.header-right {
  position: absolute;
  left: 65%;
  top: 0;
}
.header-left img {
  margin-left: 30px;
  margin-right: 50px;
  width: 150px;
}
header a {
  text-decoration: none;
}

.header-left ul,
.header-right ul {
  display: inline;
  list-style: none;
  height: 90px;
}
.header-left li,
.header-right li {
  display: inline;
  text-align: left;
  padding-right: 40px;
  font-size: 20px;
}
.header-right span {
  padding: 10px 15px 10px 15px;
  font-size: 14px;
}
/* MAIN */
main{
  
}
/* FIRS SECTION */
#first-section{
  text-align: left;
  background-color: #b4d0e7;
}
#first-section h1{
  font-size: 5em;
  padding-top: 20px;
  padding-left: 10px;
}
.left-side , .right-side{
  display: inline;
}
.left-side span{
  margin-top: 10px;
}
.left-side p{
  margin-top: 50px;
  margin-bottom: 40px;
  margin-left: 10px;
}
.left-side a{
  text-decoration: none;
  padding: 10px;
  margin-left: 10px;
}
.left-side .button h5{
  margin-left: 10px;
  margin-top: 20px;
  font-size: 15px;
}
.right-side img{
  padding-left: 50px;
  padding-top: 60px;
}
.fa-arrow-down{
  margin-top: 50px;
  margin-left: 10px;
  font-size: 3rem;
}
/* SECOND SECTION */
#second-section{
text-align: left;
}
.titolo-tariffe{
  height: 400px;
  margin-top: 150px;
  background-color: red;
}
.titolo-tariffe h3{
  font-size: 3em;
  margin-bottom: 50px;
}

/* Grandezze */
.w20{
  width: 20%;
}
.w30{
  width: 30%;
}
.w40{
  width: 40%;
}
.w50 {
  width: 50%;
}
.w60{
  width: 60%;
}
.w70{
  width: 70%;
}
.w80{
  width: 80%;
}
/* Colours */
.white {
  color: white;
}
.black {
  color: black;
}
.blue{
  color: #0061ff;
}
.bg-blue{
  background-color: #0061ff;
}
.bg-white{
  background-color: #fff;
}